.eslintcache
.idea/
.vscode/
node_modules/
build/
tmp/
temp/
logs/
.expo
dist
.next
*.env
*.log
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
storybook-static/
.DS_Store
yarn.lock